@import url(./CSS/bootstrap.css);

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css);

html,body{
    padding: 0px;
    margin: 0px;
}

.header1{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    
    background-color: rgb(255,255,255);
}
.container{
    display: flex;
}

.holder{
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}
.inside6{
    width: 500px;
}
.inside1{
    width: 500px;
    height: 100px;
    margin-left: -70px;
    background-color: rgb(255,255,255);
    border: 2px solid #f3f3f3;
}
.inside{
    margin-left: 120px;
}
.border{
    width: 100%;
    border: 2px solid rgb(150,2,0);
    
}
@font-face {
    font-family: in;
    src: url(./fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}
.in{
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: #bbbbbb;
    font-family: 'in', cursive;
}

.inside2{
    
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.inside3{
   
    display: flex;
    align-items: center;
    justify-content: center;
}

.inside4{
   
    display: flex;
    align-items: center;
    justify-content: center;
}
.inside5{
     display: flex;
    align-items: center;
    justify-content: center;
}
.inside6{
     display: flex;
    align-items: center;
    justify-content: center;
}
.inside2:hover{
    width: 60px;
    height: 100px;
    background-color: rgb(150,2,0) ;
}

.inside3:hover{
    width: 150px;
    height: 100px;
    background-color: rgb(150,2,0) ;
}

.inside4:hover{
    width: 100px;
    height: 100px;
    background-color: rgb(150,2,0) ;
}

.in:hover{
    color: white;
}

.header2{
    width: 1400;
    height: 50px;
    background-color: rgb(52,133,62);
    display: flex;
    align-items: center;
    color: white;
    font-size: 32px;
    font-weight: 400;
    line-height: 35px;
    margin-bottom: 30px;
   
    

   
  
    

}
.welcome{
    margin-left: 50px;
    }
   
    .header3{
    width: 100%;
    height: 50px;
    background-color: white;
    display: none;
   
}

.header4{
    display: none;
}
.grid1{
    display: grid;
    align-items: center;
}
.grid1{
    display: grid;
    margin-bottom: 20px;
    align-items: center;
    text-decoration: none;
    color: #bbbbbb;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin-top: 20px;
    margin-left: 50px;
    
}
.grid2{
    display: grid;
    margin-bottom: 20px;
    align-items: center;
    text-decoration: none;
    color: #bbbbbb;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin-top: 20px;
    margin-left: 50px;
    
}
.grid3{
    display: grid;
    margin-bottom: 20px;
    text-decoration: none;
    color: #bbbbbb;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin-top: 20px;
    margin-left: 50px;
    
}
.border1{
    width: 100%;
    border: 2px solid green;
}
@media(max-width:1250px){
    .header3{
     display: flex;
     align-items: center;
     justify-content: space-around;
    }
    .inside4{
     display: none;
    }
    .inside6{
     display: inherit;
     justify-content: start;
     
    }
    .inside5{
     display: none;
    }
 }
 
 @media(max-width:1200px){
     .inside5{
         display: inherit;
     
     }
     .inside3{
         display: none;
     }
     
 }
 
 @media(max-width:860px){
     .holder, .header3{
         display: none;
     }
     .header4{
         display: grid;
         align-items: center;
     }
     .header2{
        width: 100%;
     }
       
        
    
 }
 @media(max-width:850px){
    .header2, .border{
        width: 100%;
    }
 }

 @media(max-width:540px){
    .header2{
        width: 100%;
     }
    .border{
        width: 100%;
    }
 }

 .table{
    width: 1300px !important;
    margin-left: 20px !important;
    border: 1px solid black !important;

 }

 .table-light{
font-size: 14px !important;
font-weight: 600 !important;
line-height: 20px !important;
color: #535b60 !important;
border: 1px solid black !important;

}

 .table-dark{
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 20px !important;
    color: #535b60 !important;
    border: 1px solid black !important;
    
 }

 
 
 .shadow{
    margin-bottom: 100px;
 }





 .fixed{
    display: flex;
    width: 100%;
    height: 50px;
    background-color: rgb(1,53,0);
    align-items: center;
    justify-content: space-around;
    position: fixed;
    bottom: 0%;
}
.borderr{
    width: 100%;
    border: 2px solid rgb(150,2,0);
    position: fixed;
    bottom: 50px;
    
}
.fixo{
    display: flex;
    align-items: center;
}
.powered{
    text-decoration: none;
    color: #edf0f6;
    font-size: 13px;
    font-weight: 400;
    line-height: 25px;
}
.powered:hover{
    text-decoration: underline;
}
.copyright{
    text-decoration: none;
    color: #edf0f6;
    font-size: 13px;
    font-weight: 400;
    line-height: 25px;
}

.privacy{
    text-decoration: none;
    color: rgb(77,136,171);
    font-size: 13px;
    font-weight: 400;
    line-height: 25px;
}
.privacy:hover{
    text-decoration: underline;
}

@media(max-width:1381px){
    .table{
        width: 1280px !important;
        
    
     }
}

@media(max-width:1352px){
    .table{
        width: 1260px !important;
        
    
     }
}

@media(max-width:1326px){
    .table{
        width: 1100px !important;
        
    
     }
}
@media(max-width:1180px){
    .table{
        width: 800px !important;
        
    
     }
}
    

@media(max-width:1180px){
    .table{
        width: 600px !important;
     }
}

@media(max-width:660px){
    .table{
        width: 400px !important;
     }
}
    
   



